h1 a:link {
	color: green;
}

h1 a:hover {
	color: yellow;
	font-family: agony;
	font-size: 50px;
}

h1 a:active {
	color: red;
	font-family: arial;
	font-style: italic;
	font-size: 50px;
}

h1 a:visited {
	color:  red;
}

ol > li:first-child > a {
	color: lightgreen;
}

ol > li:nth-child(3) > a {
	color: seagreen;
}

ol > ul > li:nth-child(even) > a {
	color: darkslateblue;
}

ol > ul > li:nth-child(odd) > a {
	color: lightskyblue;
}