body {
  width: 600px;
  height: 3000px;
  background-color: #ddd;
  font-size: 24px;
  text-align: center;
  margin: 50px auto;
}

h1 {
  font-size: 5rem;
}

.kotak {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin: auto;
}
